In [1]:
import pandas as pd
from dateutil.parser import parse
from sqlalchemy import create_engine
from sqlalchemy import text
import sqlite3

In [16]:
data = "Superstore.csv"

In [17]:
# Create a database engine
engine = create_engine("sqlite:///superstore.db")

In [18]:
# reading the dataset
df = pd.read_csv(data, encoding='latin1')

In [19]:
# Insert the data into the database
def insert_db(df, table_name, engine):
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

In [20]:
#Inserting raw data
insert_db(df, data[:-4], engine)

In [21]:
table = pd.read_sql_query("SELECT name from sqlite_master where type = 'table'", engine)
table

                 name
0  Superstore_cleaned
1          Superstore

In [22]:
ds = pd.read_sql_query("SELECT * FROM Superstore", engine)
ds_tmp = ds       # Creating a temporary dataset for further process
ds_tmp.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,06-12-2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [23]:
# Checking on columns info
ds_tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [24]:
# Changing date columns type and setting a default format
def format_date(column):
    try:
        dt = parse(column, dayfirst=True)
        return dt.strftime("%d-%m-%Y")
    except:
        try:
            dt = parse(column, dayfirst=False)
            return dt.strftime("%d-%m-%Y")
        except:
            return pd.NaT

# Changing data type and formatting different types of date values to one type
ds_tmp["Order Date"] = ds_tmp["Order Date"].apply(format_date)
ds_tmp["Order Date"] = pd.to_datetime(ds_tmp["Order Date"], errors='coerce', dayfirst=True)

In [25]:
ds_tmp.sample(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2568,2569,CA-2017-148929,2017-07-09,09-11-2017,Standard Class,SP-20620,Stefania Perrino,Corporate,United States,New York City,New York,10011,East,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",478.08,8,0.0,133.8624
1028,1029,CA-2014-163552,2014-11-07,7/15/2014,Standard Class,LA-16780,Laura Armstrong,Corporate,United States,Hackensack,New Jersey,7601,East,OFF-PA-10000474,Office Supplies,Paper,Easy-staple paper,177.20,5,0.0,83.2840
4542,4543,CA-2017-113474,2017-03-30,3/31/2017,First Class,TM-21490,Tony Molinari,Consumer,United States,Oklahoma City,Oklahoma,73120,Central,OFF-EN-10004206,Office Supplies,Envelopes,Multimedia Mailers,325.86,2,0.0,149.8956

In [26]:
# Apply date format for Ship Date column
ds_tmp["Ship Date"] = ds_tmp["Ship Date"].apply(format_date)
ds_tmp["Ship Date"] = pd.to_datetime(ds_tmp["Ship Date"], errors='coerce', dayfirst=True)

In [27]:
ds_tmp["Sub-Category"].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [28]:
def calculate_averageCustomerChurn():
    customer_churnDays_map = {}
    for customerName in ds_tmp["Customer Name"].unique():
        customer_purchase_dates = ds_tmp[ds_tmp["Customer Name"] == customerName]["Order Date"].reset_index().sort_values("Order Date")
        last_customer_purchase = pd.to_datetime(customer_purchase_dates["Order Date"].max())
        diffs = customer_purchase_dates["Order Date"].diff().dt.days.fillna(0)
        average_customer_churn_days = round(((ds_tmp["Order Date"].max()-last_customer_purchase).days+int(diffs.values.sum()))/len(customer_purchase_dates), 0)
        customer_churnDays_map[customerName] = average_customer_churn_days
    return customer_churnDays_map

In [29]:
customer_average_churnData = calculate_averageCustomerChurn()
def label_churn(group):
    name = group["Customer Name"].iloc[0]
    customer_thresholdChurnDays = customer_average_churnData.get(name, 60)

    # Sort and compute next purchase
    group = group.sort_values(by="Order Date")
    next_purchase = group["Order Date"].shift(-1)
    overall_last_date = ds_tmp["Order Date"].max()
    next_purchase.fillna(overall_last_date, inplace=True)

    gap = (next_purchase - group["Order Date"]).dt.days
    return gap.apply(lambda x: "Churned" if x >= customer_thresholdChurnDays else "Not Churned")

ds_tmp["Customer Churn"] = ds_tmp.groupby("Customer Name", group_keys=False).apply(label_churn)

C:\Users\manju\AppData\Local\Temp\ipykernel_12296\1328131111.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ds_tmp["Customer Churn"] = ds_tmp.groupby("Customer Name", group_keys=False).apply(label_churn)

In [30]:
ds_tmp.sample(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Customer Churn
2951,2952,CA-2017-134915,2017-12-11,2017-12-11,Same Day,EM-14140,Eugene Moren,Home Office,United States,Glendale,Arizona,85301,West,FUR-CH-10004875,Furniture,Chairs,Harbour Creations 67200 Series Stacking Chairs,113.888,2,0.2,9.9652,Not Churned
1385,1386,US-2016-108504,2016-05-02,2016-05-02,Same Day,PP-18955,Paul Prost,Home Office,United States,Smyrna,Georgia,30080,South,FUR-FU-10004091,Furniture,Furnishings,"Eldon 200 Class Desk Accessories, Black",18.840,3,0.0,7.1592,Not Churned
2841,2842,US-2017-135062,2017-08-31,2017-04-09,Second Class,RL-19615,Rob Lucas,Consumer,United States,Fayetteville,North Carolina,28314,South,OFF-PA-10000100,Office Supplies,Paper,Xerox 1945,229.544,7,0.2,83.2097,Churned

In [31]:
ds_tmp.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-11 07:17:44.078447104,2016-04-20 15:38:17.458475008,55190.379428,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-02 00:00:00,2014-01-04 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-01 00:00:00,2015-05-07 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-05-30 00:00:00,2016-06-12 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-04-09 00:00:00,2017-04-29 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-05-01 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

In [2]:
# Inserting Cleaned Data
conn = sqlite3.connect("superstore.db")

In [33]:
cursor = conn.cursor()

In [34]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Superstore_cleaned (
        "Row ID" INT NOT NULL,
        "Order ID" VARCHAR(20) NOT NULL, 
        "Order Date" DATE,
        "Ship Date" DATE,
        "Ship Mode" VARCHAR(20), 
        "Customer ID" VARCHAR(20) NOT NULL, 
        "Customer Name" VARCHAR(40), 
        "Segment" VARCHAR(20),
        "Country" VARCHAR(20),
        "City" VARCHAR(30),
        "State" VARCHAR(30),
        "Postal Code" VARCHAR(30), 
        "Region" VARCHAR(30),
        "Product ID" VARCHAR(20), 
        "Category" VARCHAR(20),
        "Sub-Category" VARCHAR(20), 
        "Product Name" VARCHAR(50), 
        "Sales" DECIMAL(15, 2),
        "Quantity" INT,
        "Discount" DECIMAL(10, 2),
        "Profit" DECIMAL(15, 2),
        "Customer Churn" VARCHAR(20),
        PRIMARY KEY("Order ID", "Customer ID")
    );
""")

insert_db(ds_tmp, "Superstore_cleaned", conn)

In [35]:
# Saving the cleaned data into csv
df = pd.read_sql_query("SELECT * FROM Superstore_cleaned", conn)
df.to_csv("Superstore cleaned.csv", index=False)

In [36]:
ds_tmp["Profit"].quantile(0.85)

np.float64(58.179030000000004)

In [3]:
pd.set_option('display.max_columns', None)
ds_tmp = pd.read_sql_query("SELECT * FROM Superstore_cleaned", conn)
ds_tmp

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Customer Churn
0,1,CA-2016-152156,2016-08-11 00:00:00,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Not Churned
1,2,CA-2016-152156,2016-08-11 00:00:00,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Churned
2,3,CA-2016-138688,2016-12-06 00:00:00,2016-06-16 00:00:00,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,Churned
3,4,US-2015-108966,2015-11-10 00:00:00,2015-10-18 00:00:00,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Not Churned
4,5,US-2015-108966,2015-11-10 00:00:00,2015-10-18 00:00:00,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Churned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21 00:00:00,2014-01-23 00:00:00,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,Not Churned
9990,9991,CA-2017-121258,2017-02-26 00:00:00,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,Not Churned
9991,9992,CA-2017-121258,2017-02-26 00:00:00,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,Not Churned
9992,9993,CA-2017-121258,2017-02-26 00:00:00,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,Churned
9993,9994,CA-2017-119914,2017-04-05 00:00:00,2017-09-05 00:00:00,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,Churned